<p>
  <%= f.label :key, t('.send_key'), :class => 'control-label required' %>
  <%= f.select :key, options_for_select([[t('.select_key'), 'nothing'], [t('.return'), 'Return'],[t('.tab'), 'Tab'],[t('.up'), 'Up'],[t('.down'), 'Down'],[t('.left'), 'Left'],[t('.right'), 'Right']]), :class => 'form-control' %>
  <small><%= t('.key_to_send') %></small>
</p>
<p>
  <%= f.label :scope, t(".scope"), :class => 'control-label' %>
  <%= f.text_field :scope, :class => 'form-control' %>
  <small><%= t(".scope_description") %></small>
</p>